<!doctype html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <title>权限管理系统 - 登录</title>
</head>
<body>
权限页面

<table border="1">
    <tr>
        <th>序号</th>
        <th>权限名称</th>
        <th>权限地址</th>
        <th>权限图标</th>
        <th>权限状态</th>
        <th>权限类型</th>
        <th>修改时间</th>
        <th>描述</th>
        <th>操作</th>
    </tr>
    <tr th:each="perm,permStatus:${perms}">
        <td th:text="${permStatus.index+1}"></td>
        <td th:text="${perm.getPermName()}"></td>
        <td th:text="${perm.getPermUrl()}"></td>
        <td th:text="${perm.getPermIcon()}"></td>
        <td th:switch="${perm.getPermStatus()}">
            <span th:case="1">启用</span>
            <span th:case="0">禁用</span>
        </td>
        <td th:switch="${perm.getPermType()}">
            <span th:case="1">菜单</span>
            <span th:case="2">按钮</span>
            <span th:case="3">其他</span>
        </td>
        <td th:text="${perm.getUpdateTime()}"></td>
        <td th:text="${perm.getRemark()}"></td>
        <td>
            <a href="#">编辑</a>
            <a href="#">删除</a>
        </td>
    </tr>
</table>
</body>
</html>