<!doctype html>
<html lang="zh">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache, must-revalidate"/>
    <meta http-equiv="expires" content="0"/>
    <title>登陆</title>
</head>
<body>
<form method="post" action="login">

    <div></div>
    <input type="text" name="userName" placeholder="用户名" value="admin"/></div>
    <div><input type="password" name="passWord" placeholder="密码" value="admin"/></div>

    <div><label> 验证码 : <input type="text" name="captcha" placeholder="验证码" maxlength="4" value="1234"/> </label></div>

    <div><img th:src="@{/render}" onclick="this.src='/render?'+Math.random()"></div>

    <div><input type="checkbox" name="rememberMe" checked/>&nbsp;&nbsp;记住我</div>
    <div><input type="submit" value="登陆"/></div>

</form>
</body>
</html>